## <u> Use only those concepts which have been taught till now </u>

# <b> Problem 1: Import Pandas and Numpy in the notebook </b>

In [1]:
# Import statements
import pandas as pd
import numpy as np

# <b> Problem 2 : Load the automobile_data.csv kept in the shared folder

In [2]:
# Mount your drive and read the csv file. Make sure you are using the correct file path
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# <b> Problem 3 : Do a basic inspection and print the first and last 15 rows of your dataframe

In [3]:
# Your code here
path = "/content/drive/MyDrive/Almabetter/Cohort Nilgiri/Module 1/Week 3/Day 3"
df = pd.read_csv(path+"/automobile_data.csv")
print(df.shape)
df.head(15)

(205, 26)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.8,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.8,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565

In [4]:
df.tail(15)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
190,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.4,8.5,90,5500,24,29,9980
191,0,?,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,136,mpfi,3.19,3.4,8.5,110,5500,19,24,13295
192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.4,23.0,68,4500,33,38,13845
193,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.4,9.0,88,5500,25,31,12290
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

# <b>Problem 4 : You need to clean the data a little bit now. Replace all column values with the values <code>?</code> and <code>n.a</code> with <code>NaN</code>

In [5]:
# Your code here
# def put_nan(column):
#   if column == '?' or column == 'n.a':
#    return np.nan
#   else:
#     return column

In [6]:
def put_nan_price(column):
  if column == '?' or column == 'n.a':
   return np.nan
  else:
    return float(column)

In [7]:
# df['normalized-losses'] = df['normalized-losses'].apply(put_nan)
df['price'] = df['price'].apply(put_nan_price)

In [8]:
# df['price'].max()
# df[ df['price'].max() ]
d = df['price'].max()
d

45400.0

In [9]:
most_expensive = df[ df['price'] == d]
most_expensive

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
74,1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184,4500,14,16,45400.0

# <b>Problem 5 : Print the company name which manufactured the most expensive car. Also print the price of the most expensive car

In [10]:
def sums(col):
  sum = 0
  for i in col:
    if type(i) == str:
      pass
    else:
      sum += col
  return sum

In [11]:
# Your code here
max_price = df['price'].max()
dum =  df[ df['price'] == max_price ]
dum.loc[:,['make','price']]

             make    price
74  mercedes-benz  45400.0

# <b>Problem 6 : Calculate maximum horsepowers for each company. </b>

In [12]:
# Your code here
df.groupby('make')['horsepower'].max().reset_index()

             make horsepower
0     alfa-romero        154
1            audi        160
2             bmw        182
3       chevrolet         70
4           dodge         88
5           honda         86
6           isuzu         90
7          jaguar        262
8           mazda         84
9   mercedes-benz        184
10        mercury        175
11     mitsubishi         88
12         nissan         97
13         peugot         97
14       plymouth         88
15        porsche        288
16        renault          ?
17           saab        160
18         subaru         94
19         toyota         92
20     volkswagen         90
21          volvo        162

# <b> Problem 7 : Print the total number of cars manufactured by each company

In [13]:
# Your code here
df['make'].value_counts().reset_index()

            index  make
0          toyota    32
1          nissan    18
2           mazda    17
3      mitsubishi    13
4           honda    13
5      volkswagen    12
6          subaru    12
7          peugot    11
8           volvo    11
9           dodge     9
10  mercedes-benz     8
11            bmw     8
12           audi     7
13       plymouth     7
14           saab     6
15        porsche     5
16          isuzu     4
17         jaguar     3
18      chevrolet     3
19    alfa-romero     3
20        renault     2
21        mercury     1

# <b> Problem 8 : Create a new column for the updated price. This updated price will be calculated on top of the given price - if the engine is in front, price will be same else if the engine is in rear, price will be doubled </b>

In [14]:
# Your code here. Use apply and lambda
df['updated_price'] = df.apply(lambda x : 2*x['price'] if x['engine-location'] == 'rear' else x['price'], axis= 1)

# <b>Problem 9 : Sort the dataframe by car and price columns

In [15]:
# Your code here
p = df.sort_values(['make','price'], ascending=[True,True])
p.head(15)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,updated_price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,13495.0
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,16500.0
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,16500.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.4,10.0,102,5500,24,30,13950.0,13950.0
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,mpfi,3.19,3.4,8.5,110,5500,19,25,15250.0,15250.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.4,8.0,115,5500,18,22,17450.0,17450.0
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,mpfi,3.19,3.4,8.5,110,5500,19,25,17710.0,17710.0
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,mpfi,3.19,3.4,8.5,110,5500,19,25,18920.0,18920.0
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,mpfi,3.13,3.4,8.3,140,5500,17,20,23875.0,23875.0
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,mpfi,3.13,3.4,7.0,160,5500,16,22,NaN,NaN
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,mpfi,3.5,2.8,8.8,101,5800,23,29,16430.0,16430.0
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,mpfi,3.5,2.8,8.8,101,5800,23,29,16925.0,16925.0
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,mpfi,3.31,3.19,9.0,121,4250,21,28,20970.0,20970.0
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,mpfi,3.31,3.19,9.0,121,4250,21,28,21105.0,21105.0
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,mpfi,3.31,3.19,9.0,121,4250,20,25,24565.0,24565.0

# <b> Problem 10 : Create a new column which stores the number of doors in a car as integers.

In [16]:
def int_door(x):
  y = 0
  if x == 'one':
    y = 1
  if x == 'two':
    y = 2
  if x == 'three':
    y = 3
  if x == 'four':
    y = 4
  if x == 'five':
    y = 5
  if x == 'six':
    y = 6
  return y

In [17]:
# Your code here. Use apply
df['door-as-integer'] = df['num-of-doors'].apply(int_door)

df.tail(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,updated_price,door-as-integer
185,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,3.19,3.4,9.0,85,5250,27,34,8195.0,8195.0,4
186,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,3.19,3.4,9.0,85,5250,27,34,8495.0,8495.0,4
187,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,3.01,3.4,23.0,68,4500,37,42,9495.0,9495.0,4
188,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,3.19,3.4,10.0,100,5500,26,32,9995.0,9995.0,4
189,3,?,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,3.19,3.4,8.5,90,5500,24,29,11595.0,11595.0,2
190,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,3.19,3.4,8.5,90,5500,24,29,9980.0,9980.0,2
191,0,?,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,3.19,3.4,8.5,110,5500,19,24,13295.0,13295.0,4
192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,3.01,3.4,23.0,68,4500,33,38,13845.0,13845.0,4
193,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,3.19,3.4,9.0,88,5500,25,31,12290.0,12290.0,4
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,3.78,3.15,9.5,114,5400,23,28,12940.0,12940.0,4
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,3.78,3.15,9.5,114,5400,23,28,13415.0,13415.0,4
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,3.78,3.15,9.5,114,5400,24,28,15985.0,15985.0,4
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,3.78,3.15,9.5,114,5400,24,28,16515.0,16515.0,4
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,3.62,3.15,7.5,162,5100,17,22,18420.0,18420.0,4
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,3.62,3.15,7.5,162,5100,17,22,18950.0,18950.0,4
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,3.78,3.15,9.5,114,5400,23,28,16845.0,16845.0,4
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,3.78,3.15,8.7,160,5300,19,25,19045.0,19045.0,4
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,3.58,2.87,8.8,134,5500,18,23,21485.0,21485.0,4
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,3.01,3.4,23.0,106,4800,26,27,22470.0,22470.0,4
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,3.78,3.15,9.5,114,5400,19,25,22625.0,22625.0,4

# <b>Problem 11 : Concatenate the two data frames given below firstly row wise and secondly column wise.</b>

<code>GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}</code>

<code>japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}</code>

In [18]:
GermanCars = pd.DataFrame({'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]})
japaneseCars = pd.DataFrame({'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]})

In [19]:
# Your code here
pd.concat([GermanCars,japaneseCars], axis=0)

       Company   Price
0         Ford   23845
1     Mercedes  171995
2          BMV  135925
3         Audi   71400
0       Toyota   29995
1        Honda   23600
2       Nissan   61500
3  Mitsubishi    58900

In [20]:
pd.concat([GermanCars,japaneseCars], axis=1)

    Company   Price      Company  Price
0      Ford   23845       Toyota  29995
1  Mercedes  171995        Honda  23600
2       BMV  135925       Nissan  61500
3      Audi   71400  Mitsubishi   58900